.column{
  display: flex;
  gap: 10px;

   mat-form-field{
    width: 100%;
   }
}
.heading{
  align-items: center;
  justify-content: center;
}
.custom-dialog-content {
  /* Add your custom styles here */
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  /* ... */
}
.custom-dialog-actions {
  /* Add your custom styles for the actions container here */
  justify-content: flex-end; /* Align buttons to the right */
  padding: 20px;
  /* ... */
  button{
    flex: 1;
  }
}
