.main-container {
  display: flex;
  .side-nav {
    width: 200px;
    min-width: 230px;
    min-height: calc(100vh - 70px);
    background-color: #2f8dda;
    color: #fff;
    box-shadow: 5px 5px 5px #939393;
    @media only screen and (max-width: 1300px) {
      width: 80px;
      min-width: 80px;
    }
  }
  .main {
    padding: 30px;
  }
}
